doctype html
html(lang='en')
	head
		include partials/head_preamble.pug	
	body
		include partials/navbar.pug	
		.container
			p #{hackathons}
			.starter-template
				h1 Hackathons In Nederland
				p.lead Hackathons voor de komende 180 dagen.
				.bs-example
					table.table.table-striped.lead
						thead
							tr
								th Naam
								th Waar
								th Wanneer
						tbody
							each hackathon in hackathons
								tr
									td 
										a(href="http://www."+hackathon.url, target='_blank') #{hackathon.name}
									td #{hackathon.location.city}									
									td 
										time.icon(datetime=hackathon.start_date)
											em #{hackathon.dayRenderString}
											strong #{hackathon.monthRenderString}
											span #{hackathon.dateRenderString}
		include partials/scripts.pug