doctype html
html(lang='en')
	head
		include partials/head_preamble.pug	
	body
		include partials/navbar.pug	
		.container
			.starter-template
				h1 Hackathons in The Netherlands
				p.lead View all hackathons and game jams that are currently planned.
				.bs-example
					table.table.table-striped.lead
						thead
							tr
								th Name
								th Location
								th Time
						tbody
							each hackathon in hackathons
								tr
									td 
										a(href=hackathon.url, target='_blank') #{hackathon.name}
									td #{hackathon.location.city}									
									td 
										time.icon(datetime=hackathon.start_date)
											em #{hackathon.dayRenderString}
											strong #{hackathon.monthRenderString}
											span #{hackathon.dateRenderString}
		include partials/scripts.pug